{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}


{% block body %}
    <h2>{{room_details}} - Chat</h2>

    <div id="display">

    </div>
    <script id="room_details">{{room_details.id}}</script>
    
    <script src="{% static 'js/display.js' %}"></script>

    <div class="container">
        <form id="post-form">
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{username}}"/>
            <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
            <input type="text" name="message" id="message" autocomplete="off" required width="100px" />
            <input type="submit" value="Send">
        </form>
    </div>
    
    <script src="{% static 'js/post-form.js' %}"></script>

{% endblock %}
